<a href="https://colab.research.google.com/github/asgardsun/Content-Based-Recommendation/blob/main/3_my_ratings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('/content/drive/MyDrive/recommendation/data/ratings.csv')
ratings.sample()

       userId  movieId  rating   timestamp
20862     137     7762     3.0  1204864005

###timestamp 컬럼 처리

In [3]:
from datetime import datetime
datetime.fromtimestamp(845651650)

datetime.datetime(1996, 10, 18, 15, 14, 10)

In [4]:
ratings['timestamp'] = ratings['timestamp'].apply(lambda x: datetime.fromtimestamp(x))

In [5]:
ratings.sample()

       userId  movieId  rating           timestamp
18226     115     2723     4.0 2000-05-06 21:09:02

###내 데이터 붙이기

In [7]:
myratings = pd.read_csv('/content/drive/MyDrive/recommendation/data/my-ratings_.csv')
myratings.sample()

    userId  movieId  rating            timestamp
10    1001   152063       4  2022-11-27 15:40:05

In [8]:
myratings['timestamp']=pd.to_datetime(myratings['timestamp'])

In [9]:

ratings_concat = pd.concat([ratings,myratings])
ratings_concat.tail(20)

        userId  movieId  rating           timestamp
100829     610   164179     5.0 2017-05-03 21:07:11
100830     610   166528     4.0 2017-05-04 06:29:25
100831     610   166534     4.0 2017-05-03 21:53:22
100832     610   168248     5.0 2017-05-03 22:21:31
100833     610   168250     5.0 2017-05-08 19:50:47
100834     610   168252     5.0 2017-05-03 21:19:12
100835     610   170875     3.0 2017-05-03 21:20:15
0         1001   141749     5.0 2022-11-17 15:40:05
1         1001    95441     5.0 2022-11-18 15:40:05
2         1001   135861     4.0 2022-11-19 15:40:05
3         1001   112138     5.0 2022-11-20 15:40:05
4         1001   109673     3.0 2022-11-21 15:40:05
5         1001   168712     2.0 2022-11-22 15:40:05
6         1001   141131     5.0 2022-11-23 15:40:05
7         1001   112852     5.0 2022-11-24 15:40:05
8         1001   122918     4.0 2022-11-25 15:40:05
9         1001      906     5.0 2022-11-26 15:40:05
10        1001   152063     4.0 2022-11-27 15:40:05
11        1001   183897     4.0 2022-11-28 15:40:05
12        1001   162602     5.0 2022-11-29 15:40:05

In [10]:
ratings_concat.to_pickle('/content/drive/MyDrive/recommendation/data/ratings_updated.p')

In [13]:
ratings= pd.read_pickle('/content/drive/MyDrive/recommendation/data/ratings_updated.p')