<a href="https://colab.research.google.com/github/asgardsun/Content-Based-Recommendation/blob/main/Content_Based_Recommendation_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

###Read Data

In [ ]:
movies= pd.read_csv('/content/drive/MyDrive/recommendation/data/movies.csv')
ratings= pd.read_pickle('/content/drive/MyDrive/recommendation/data/ratings_updated.p')
genres= pd.read_pickle('/content/drive/MyDrive/recommendation/data/genres.p')

In [ ]:
ratings.tail()
#genres

    userId  movieId  rating           timestamp
8     1001   122918     4.0 2022-11-25 15:40:05
9     1001      906     5.0 2022-11-26 15:40:05
10    1001   152063     4.0 2022-11-27 15:40:05
11    1001   183897     4.0 2022-11-28 15:40:05
12    1001   162602     5.0 2022-11-29 15:40:05

###Preprocessing(전처리)

In [ ]:
ratings = ratings.merge(genres, how='inner', left_on='movieId', right_index=True)
ratings.head()

,userId,movieId,rating,timestamp,(no genres listed),Action,Adventure,Animation,Children,Comedy,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1,4.0,2000-07-30 18:45:03,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
516,5,1,4.0,1996-11-08 06:36:02,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
874,7,1,4.5,2005-01-25 06:52:26,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1434,15,1,2.5,2017-11-13 12:59:30,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1667,17,1,4.5,2011-05-18 05:28:03,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
ratings = ratings.replace(0, np.nan) #0값을 null값으로 처리
ratings.sample()

,userId,movieId,rating,timestamp,(no genres listed),Action,Adventure,Animation,Children,Comedy,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
18791,121,186,3.0,1996-11-10 20:03:23,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN

###Train test split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
train, test = train_test_split(ratings, random_state=42, test_size=.1)

In [ ]:
print(train.shape)
print(test.shape)

(90764, 24)
(10085, 24)

In [ ]:
train

,userId,movieId,rating,timestamp,(no genres listed),Action,Adventure,Animation,Children,Comedy,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
20871,138,898,5.0,2008-09-29 08:15:07,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN
97084,604,196,3.0,1996-05-14 13:21:51,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN
68182,438,34334,2.5,2005-12-26 19:20:58,NaN,2.5,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.5,2.5,NaN,NaN
76135,479,2694,3.0,2002-12-08 15:50:30,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84263,539,3264,3.5,2012-03-23 03:48:57,NaN,3.5,NaN,NaN,NaN,3.5,...,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36445,249,1089,4.0,2012-09-04 11:22:25,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,4.0,NaN,NaN
11274,68,44199,4.0,2008-04-21 02:25:25,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN
47164,307,3177,2.0,2007-08-03 20:34:07,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1671,17,110,4.5,2011-05-18 05:27:50,NaN,4.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5,NaN
77568,483,3578,3.5,2007-05-04 15:39:57,NaN,3.5,3.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
test

,userId,movieId,rating,timestamp,(no genres listed),Action,Adventure,Animation,Children,Comedy,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
80361,508,1409,2.0,2010-03-11 08:52:14,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
27866,190,2571,3.0,2017-09-01 23:52:34,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN
85090,552,4299,3.0,2005-03-30 02:54:55,NaN,1.0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
12713,81,231,1.0,1996-10-14 13:26:03,NaN,NaN,1.0,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83685,534,2762,4.0,2016-04-04 16:39:58,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78163,484,8641,4.0,2012-07-14 21:04:33,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97596,606,1280,4.0,2007-02-12 23:38:23,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25224,177,3022,5.0,2015-06-29 00:14:53,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
62813,414,1393,4.0,2000-06-20 15:09:54,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
47280,307,4718,2.5,2007-08-02 20:01:37,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###Item Profile

In [ ]:
genres.loc[4896] #해리포터의 마법사의 돌 movieId

(no genres listed)    0
Action                0
Adventure             1
Animation             0
Children              1
Comedy                0
Crime                 0
Documentary           0
Drama                 0
Fantasy               1
Film-Noir             0
Horror                0
IMAX                  0
Musical               0
Mystery               0
Romance               0
Sci-Fi                0
Thriller              0
War                   0
Western               0
Name: 4896, dtype: int64

###User Profile

In [ ]:
#Train 데이터를 이용한 연산
genre_cols = genres.columns
genre_cols

Index(['(no genres listed)', 'Action', 'Adventure', 'Animation', 'Children',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller',
       'War', 'Western'],
      dtype='object')

In [ ]:
train

,userId,movieId,rating,timestamp,(no genres listed),Action,Adventure,Animation,Children,Comedy,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
20871,138,898,5.0,2008-09-29 08:15:07,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
97084,604,196,3.0,1996-05-14 13:21:51,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
68182,438,34334,2.5,2005-12-26 19:20:58,NaN,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN
76135,479,2694,3.0,2002-12-08 15:50:30,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84263,539,3264,3.5,2012-03-23 03:48:57,NaN,1.0,NaN,NaN,NaN,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36445,249,1089,4.0,2012-09-04 11:22:25,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN
11274,68,44199,4.0,2008-04-21 02:25:25,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
47164,307,3177,2.0,2007-08-03 20:34:07,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1671,17,110,4.5,2011-05-18 05:27:50,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
77568,483,3578,3.5,2007-05-04 15:39:57,NaN,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
for cols in genre_cols:
   train[cols] = train[cols] * train['rating']

In [ ]:
train.head()

,userId,movieId,rating,timestamp,(no genres listed),Action,Adventure,Animation,Children,Comedy,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
20871,138,898,5.0,2008-09-29 08:15:07,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN
97084,604,196,3.0,1996-05-14 13:21:51,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN
68182,438,34334,2.5,2005-12-26 19:20:58,NaN,2.5,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.5,2.5,NaN,NaN
76135,479,2694,3.0,2002-12-08 15:50:30,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84263,539,3264,3.5,2012-03-23 03:48:57,NaN,3.5,NaN,NaN,NaN,3.5,...,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#각 user 별로, Action 아이템에 준 평점의 평균
#train.groupby('userId')['Action'].mean()

userId
1       4.325000
2       4.000000
3       3.571429
4       3.318182
5       3.111111
          ...
607     3.688525
608     3.358824
609     3.100000
610     3.598726
1001    4.250000
Name: Action, Length: 611, dtype: float64

In [ ]:
user_profile = train.groupby('userId')[genre_cols].mean() #장르에 있는 모든 컬럼을 장르별로 평균값 연산 
user_profile.head(10)

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
userId,,,,,,,,,,,,,,,,,,,,
1,NaN,4.325000,4.384615,4.689655,4.550000,4.270270,4.333333,NaN,4.533333,4.292683,NaN,3.230769,NaN,4.650000,4.000000,4.300000,4.236842,4.122449,4.500000,4.200
2,NaN,4.000000,4.166667,NaN,NaN,3.750000,3.642857,4.0,3.807692,NaN,NaN,3.000000,3.750000,NaN,4.000000,4.500000,3.875000,3.642857,4.500000,3.500
3,NaN,3.571429,3.222222,0.500000,0.500000,1.142857,0.500000,NaN,0.500000,3.375000,NaN,4.714286,NaN,0.500000,5.000000,0.500000,4.178571,4.083333,0.500000,NaN
4,NaN,3.318182,3.740741,4.000000,3.800000,3.525253,3.760000,4.0,3.460177,3.684211,4.00,4.333333,3.000000,4.000000,3.368421,3.418182,2.818182,3.470588,3.571429,3.875
5,NaN,3.111111,3.250000,4.333333,4.111111,3.384615,3.818182,NaN,3.782609,4.333333,NaN,3.000000,3.666667,4.400000,NaN,2.888889,2.500000,3.500000,3.333333,3.000
6,NaN,3.649123,3.931818,4.076923,3.651163,3.384615,3.366667,NaN,3.629921,3.565217,2.50,3.277778,4.666667,4.181818,3.733333,3.600000,3.578947,3.583333,3.454545,4.000
7,NaN,3.245763,3.351064,3.545455,3.291667,3.136364,3.282609,NaN,3.203704,3.119048,3.25,3.750000,2.833333,3.428571,3.076923,2.711538,3.144737,3.462500,3.500000,1.500
8,NaN,3.333333,3.545455,5.000000,4.250000,3.100000,3.888889,NaN,3.833333,3.250000,NaN,4.500000,4.500000,5.000000,4.000000,3.400000,3.250000,3.750000,3.666667,3.000
9,NaN,3.125000,3.666667,4.000000,4.000000,3.615385,3.142857,NaN,3.350000,5.000000,4.00,1.800000,3.000000,3.000000,4.000000,2.800000,3.000000,2.545455,3.500000,4.000
10,NaN,3.500000,3.571429,3.892857,3.615385,3.263514,3.291667,NaN,3.207692,3.406250,NaN,3.000000,3.352941,3.333333,3.000000,3.360000,1.625000,3.250000,3.750000,NaN

###My user Profile

In [ ]:
user_profile.loc[1001]

(no genres listed)    5.000000
Action                4.250000
Adventure             4.333333
Animation             4.000000
Children                   NaN
Comedy                4.500000
Crime                 5.000000
Documentary                NaN
Drama                 3.750000
Fantasy               4.500000
Film-Noir                  NaN
Horror                     NaN
IMAX                  3.000000
Musical                    NaN
Mystery                    NaN
Romance               2.000000
Sci-Fi                4.500000
Thriller              5.000000
War                   3.000000
Western                    NaN
Name: 1001, dtype: float64

#Predict(샘플 유저의 평점 예측)

### Sample

In [ ]:
sample = test.loc[80361]

In [ ]:
sample_user = sample['userId']
sample_user_profile = user_profile.loc[sample_user] #샘플 유저에 대한 유저 프로파일을 가져온다
sample_user_profile #장르 선호도 정보 확인

(no genres listed)         NaN
Action                1.750000
Adventure             2.785714
Animation                  NaN
Children              2.000000
Comedy                2.392857
Crime                      NaN
Documentary                NaN
Drama                 1.937500
Fantasy               1.500000
Film-Noir                  NaN
Horror                1.750000
IMAX                       NaN
Musical               2.000000
Mystery                    NaN
Romance               1.500000
Sci-Fi                3.750000
Thriller              2.000000
War                   4.500000
Western               3.000000
Name: 508, dtype: float64

In [ ]:
sample[genre_cols] #샘플 유저가 본 아이템 프로파일

(no genres listed)    NaN
Action                NaN
Adventure             NaN
Animation             NaN
Children              NaN
Comedy                1.0
Crime                 NaN
Documentary           NaN
Drama                 1.0
Fantasy               1.0
Film-Noir             NaN
Horror                NaN
IMAX                  NaN
Musical               NaN
Mystery               NaN
Romance               1.0
Sci-Fi                NaN
Thriller              NaN
War                   NaN
Western               NaN
Name: 80361, dtype: object

In [ ]:
print(sample['movieId']) # 샘플유저가 본 영화(movieId)

1409

In [ ]:
movies[movies['movieId'] == 1409] #샘플유저가 본 영화 정보 출력

      movieId           title                        genres
1085     1409  Michael (1996)  Comedy|Drama|Fantasy|Romance

In [ ]:
#Michael에 대한 예상 평균을 계산 
#유저 프로파일에 찾아가서 Comedy|Drama|Fantasy|Romance에 대해 어떤 점수를 주었는지 확인하고
#Comedy|Drama|Fantasy|Romance 평균값을 계산

#연산법
sample_user_profile * sample[genre_cols]

(no genres listed)         NaN
Action                     NaN
Adventure                  NaN
Animation                  NaN
Children                   NaN
Comedy                2.392857
Crime                      NaN
Documentary                NaN
Drama                   1.9375
Fantasy                    1.5
Film-Noir                  NaN
Horror                     NaN
IMAX                       NaN
Musical                    NaN
Mystery                    NaN
Romance                    1.5
Sci-Fi                     NaN
Thriller                   NaN
War                        NaN
Western                    NaN
dtype: object

In [ ]:
#userId 508은 Michael에 대한 영화 평점을 1.83점으로 예측
(sample_user_profile * sample[genre_cols]).mean()

1.8325892857142856

In [ ]:
sample

###전체 데이터로 확장(전체 유저의 평점 예측과 모델 평가)

In [88]:
from tqdm import tqdm_notebook

In [89]:
predict = []
for idx, row in tqdm_notebook(test.iterrows()):
  user = row['userId']
  #user profile * item profile
  predict.append((user_profile.loc[user] * row[genre_cols]).mean())

0it [00:00, ?it/s]

In [90]:
test['predict'] = predict

In [91]:
test.loc[test['predict'].isnull(),'predict'] = train['rating'].mean() #null 데이터들을 찾아서 predict컬럼에 train의 'rating' 평균값을 넣는다.

In [92]:
test[test['predict'].isnull()]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp, (no genres listed), Action, Adventure, Animation, Children, Comedy, Crime, Documentary, Drama, Fantasy, Film-Noir, Horror, IMAX, Musical, Mystery, Romance, Sci-Fi, Thriller, War, Western, predict]
Index: []

[0 rows x 25 columns]

###Model validation

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
#모델에 대한 평가
#간단한 예측을 했던것(전체 평균을 넣어주는것것, 특정 유저평균으로 넣어주는것, 특정 아이템 평균으로 넣어주는 것)보다는 
#개인의 프로파일을 기반으로해서 추천을 해주는것이 조금 더 정확하다는것을 알 수 있다.
mse = mean_squared_error(test['rating'], test['predict'])
rmse = np.sqrt(mse)
rmse

0.9147495903231595